body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFFFF;
}

.logo_{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.studio_logo{
    color: #2e2f42;
}

.studio_link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio_logo:hover, .studio_link:focus{
    color:#404bbf
}

.address{
    font-style: normal;
}

.addresslist_link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.addresslist_link:hover, .addresslist_link:focus{
    color: #404bbf;
}

.section_1{
    background-color: #2e2f42;

}

.section_1_h1{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.osbutton{
    background-color: #5d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.osbutton:hover, .osbutton:focus{
    background-color: #404bbf;
}

.h3_li{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.p_li{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section_3{
    background-color: #f4f4fd;
}

.section_3_h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section_3_li{
    background-color: #ffffff;
}

.employee_names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.employee_titles{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}