body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #434455
}

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navigationlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    color: #434455;
}

.navigationlist:hover {
    color: #404BBF
}

.navigationlist:active {
    color: #404BBF;
    text-decoration: underline;
}
 
.adresslist {
    list-style-type: none;
    color: #434455
}

.adresslist:hover {
    color: #404BBF ;
}

.osbutton {
    color:#f1f1f1
    background-color: #4d5ae5
}

.osbutton:hover {
    color: #f1f1f1;
    background-color: #404BBF
}